<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-4 ml-3" style="font-size: 2.75rem; font-weight: 400; color: #656965">
                <span class="mr-2" style="font-size: 3.5rem">&#8916;</span>
                Pitch<span style="color: #90786edc">spork.</span>
            </h1>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: #F9F8F6">
        <a class="navbar-brand" style="color: #656965" href="/">Home</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/artists" style="color: #90786edc">Artists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/collection" style="color: #90786edc">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bestAlbums" style="color: #90786edc">Best Albums</a>
            </li>
            <li>
                <a class="nav-link" href="/updateCollection" style="color: #90786edc">Add Album</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </nav>
</div>
<hr>