<!--A block of code we can re-use-->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark pl-3" style="background-color: #496682;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h1 style="font-size: 2.75rem; font-weight: 400; color: #f3f4f2">
                <span class="mr-2" style="font-size: 3.5rem">&#8916;</span>
                Pitch<span style="color: #ccc35d">spork.</span>
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-3" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: #f3f4f2; font-size: 1.25rem;" href="/artists">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f3f4f2; font-size: 1.25rem;" href="/collection">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f3f4f2; font-size: 1.25rem;" href="/bestAlbums">Best Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f3f4f2; font-size: 1.25rem;" href="/updateCollection">Add
                        Album</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr style="color: #ccc35d; height: 3px;">