<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Pitchspork</h1>
            <p>Because you know better than the critics.</p>
        </div>
    </main>

</body>

</html>